@use 'variables' as var;

@mixin displaySettings($display, $direction, $content, $items) {
    display: $display;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $items;
}

@mixin HW($height, $width, $maxW, $minW) {
    height: $height;
    min-width: $minW;
    width: $width;
    max-width: $maxW;
}

@mixin innerOptions($padding, $margin, $shadow, $radius) {
    padding: $padding;
    margin: $margin;
    box-shadow: $shadow;
    border-radius: $radius;
}

.move {
    animation: move 2.5s ease-in-out 0.15s forwards;
}

// @keyframes move {
//     from {
//         transform: translateX(0);

//     }
//     to {
//         transform: translateX(var.$moveButtonX);
//     }
// }
